<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dear Diary</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />

    <style>
        .judul{
            background-color:cornflowerblue;
            color:azure ;
            font-size: 40px;
            font-family:fantasy;
            letter-spacing: 1px;
        }
        
    </style>
</head>

<body>
    <!-- <section class="hero is-primary"> -->
    <section class="judul">
        <div class="hero-body">
            <div class="container">
                <!-- <h1 class="title"> -->
                <h1>
                    Dear Diary
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a href="{% url 'add' %}">Add new entry</a>
                    </div>
                </div>
            </article>

            {% for entry in entries %}
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{entry.date_posted}}</strong>
                                <br> {{entry.text}}
                            </p>
                        </div>
                    </div>
                </article>
            {% endfor %}
            <br>
            <a href="{% url 'home' %}">
                <button class="button is-link">Home</button>
            </a>
        </div>
        
    </section>
    
</body>

</html>